.DS_Store
*.sw?
.env
__pycache__
.pytest_cache

node_modules/
reports/
build/

coverage.json

typechain
artifacts
cache
coverage
deployments/localhost

node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
